<style>
    #febs-user-detail #user-img, #febs-user-detail .user-info {
        display: inline-block;
        float: left;
        margin-left: 15px;
    }

    #febs-user-detail #user-img img {
        width: 7rem;
        margin: 10px 10px 0 20px;
        border-radius: 50%;
        cursor: pointer;
    }

    #febs-user-detail #user-info-wrapper {
        margin: 0 0 1rem 0;
        display: inline-block;
    }

    #febs-user-detail .user-info div {
        margin: 10px 15px;
        max-width: 19rem;
    }

    #febs-user-detail #options-wrapper a {
        padding: 4px 6px;
        color: rgba(0, 0, 0, 0.65);
        border: 1px solid #d9d9d9;
        border-radius: 2px;
    }

    #febs-user-detail #options-wrapper a:hover {
        color: #40a9ff;
        border-color: #40a9ff;
    }

</style>
<div class="layui-fluid" id="febs-policy-detail" lay-title="政策演变">
    <div id="user-info-wrapper">
        <div class="user-info">
            <div align="center" class="policyName">
                [[${policyevo.policytype}]]
            </div>

            <div class="layui-form">
                <table class="layui-table" id="content1">
                    <colgroup>
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="150">
                        <col>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>时间</th>
                        <th>政策名称</th>
                        <th>发布部门</th>
                        <th>有关政策</th>
                        <th>主要内容</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div id="policytime" class="layui-icon">
                [[${policyevo.policytime}]]
            </div>
            <div id="policyname" class="layui-icon">
                [[${policyevo.policyname}]]
            </div>
            <div id="policymain" class="layui-icon">
                [[${policyevo.policymain}]]
            </div>
            <div id="highpolicy" class="layui-icon">
                [[${policyevo.highpolicy}]]
            </div>
            <div id="lowpolicy" class="layui-icon">
                [[${policyevo.lowpolicy}]]
            </div>
            <div id="policydept" class="layui-icon">
                [[${policyevo.policydept}]]
            </div>
        </div>
    </div>

</div>
<script>
    layui.use(['febs'], function () {
        var $ = layui.jquery;
        var policytime = $("#policytime").text();
        var policyname=$("#policyname").text();
        var policymain=$("#policymain").text();
        var highpolicy=$("#highpolicy").text();
        var lowpolicy=$("#lowpolicy").text();
        var policydept=$("#policydept").text();
        console.log(content);
        $("#policytime").empty();
        $("#policyname").empty();
        $("#policymain").empty();
        $("#highpolicy").empty();
        $("#lowpolicy").empty();
        $("#policydept").empty();
        var time = policytime.split('/');
        var name=policyname.split('/');
        var main=policymain.split('/');
        var high = highpolicy.split('/');
        var low=lowpolicy.split('/');
        var dept=policydept.split('/');
        var htmlstr = "";
        for(i = 0; i <time.length; i++) {
            htmlstr += "<tr>";
            htmlstr += "<td >" + time[i] + "</td>";
            htmlstr += "<td >" + name[i] + "</td>";
            htmlstr += "<td >" + dept[i] + "</td>";
            htmlstr += "<td >" + high[i] + "</td>";
            //htmlstr += "<td >上位政策：" + mhighpolicy[i]+"<br>下位政策："+mlowpolicy[i]+"</td>";
            htmlstr += "<td >" + main[i] + "</td>";
            htmlstr += "</tr>";
        }

        $("#content1").append(htmlstr )

    });
</script>