<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.policy.mapper.AnalysisFormulaMapper">
              <!--"com.example.demo.policestation.mapper.YearBookDataMapper"-->
    <select id="getAnalysisFormulas" parameterType="analysisformula" resultType="analysisformula">
        SELECT
        f.formula_id formulaId,
        f.parent_id parentId,
        f.order_num orderNum,
        f.formula_name formulaName,
        f.formula_content formulaContent,
        f.weight,
        f.create_time createTime,
        f.modify_time modifyTime,
        GROUP_CONCAT( fe.entityindex_id ) entityIndexIds
        FROM
        policy_analysis_formula f
        LEFT JOIN formula_entity fe ON ( f.formula_id = fe.formula_id )
        WHERE 1 = 1
        <if test="formula.formulaName != null and formula.formulaName != ''">
            AND f.formula_name like CONCAT('%',#{formula.formulaName},'%')
        </if>
        GROUP BY
        f.formula_id
    </select>
</mapper>
