<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.policy.mapper.KeySentenceMapper">

    <select id="getFormulaContentById" parameterType="Long" resultType="string">
      SELECT
       FORMULA_CONTENT '公式内容'
       FROM policy_analysis_formula
       WHERE FORMULA_ID = #{formulaId}
    </select>

    <select id="getKeyPolicyFileListBySQL" resultType="KeySentence">
        ${finalSQL}
    </select>
</mapper>
