<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.policy.mapper.PolicyAnalysisMapper">
    <sql id="findPolicyDetailSql">
        SELECT
        p.id,
        p.policyid,
        p.policymatters,
        p.policyorgan,
        p.policytext,
        p.policydept,
        p.policyname,
        p.policymain,
        p.similarmatters,
        p.similarorgan,
        p.similartext,
        p.similardept,
        p.similarname,
        p.similarmain,
        p.policykey,
        p.similarkey,
        p.one,
        p.two
        FROM
        policysimilar p
        WHERE 1 = 1
    </sql>
    <select id="getPolicyAnalysisList" parameterType="int" resultType="policyanalysis">
        SELECT
        p.id,
        p.policyid,
        p.policymatters,
        p.policyorgan,
        p.policytext,
        p.policydept,
        p.policyname,
        p.policymain,
        p.similarmatters,
        p.similarorgan,
        p.similartext,
        p.similardept,
        p.similarname,
        p.similarmain,
        p.policykey,
        p.similarkey,
        p.one,
        p.two
        FROM
        policysimilar p
        WHERE p.policyid = #{policyid}
    </select>

    <select id="findPolicyDetailPage" parameterType="policyanalysis" resultType="policyanalysis">
        <include refid="findPolicyDetailSql"/>
    </select>
</mapper>
