<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.policy.mapper.PolicyNewMapper">
    <select id="getPolicyNewList"  resultType="PolicyNew">
        SELECT
        p.id,
        p.policyname,
        p.policydept,
        p.policymain,
        p.policytext,
        p.policytime,
        p.highpolicy,
        p.lowpolicy
        FROM
        policynew p
    </select>
</mapper>
