<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.policy.mapper.PolicyEnterMapper">
    <sql id="findPolicyDetailSql">
        SELECT
        p.id,
        p.publisher,
        p.name,
        p.document_type,
        p.document_area,
        p.document_id,
        p.publish_type,
        p.organ,
        p.pass_date,
        p.publish_date,
        p.exe_date,
        p.document_target,
        p.theme_words,
        p.key_words,
        p.up_document,
        p.pre_document,
        p.post_document,
        p.document_state,
        p.sur_field,
        p.text,
        p.index_state
        FROM
        policy_enter p
        WHERE 1 = 1
    </sql>

    <select id="getPolicyCrawlingList" parameterType="PolicyEnter" resultType="PolicyEnter">
        SELECT
        p.id,
        p.publisher,
        p.name,
        p.document_type,
        p.document_area,
        p.document_id,
        p.publish_type,
        p.organ,
        p.pass_date,
        p.publish_date,
        p.exe_date,
        p.document_target,
        p.theme_words,
        p.key_words,
        p.up_document,
        p.pre_document,
        p.post_document,
        p.document_state,
        p.sur_field,
        p.text,
        p.index_state
        FROM
        policy_enter p
        WHERE 1 = 1
    </select>

    <select id="findPolicyDetailPage" parameterType="PolicyEnter" resultType="PolicyEnter">
        <include refid="findPolicyDetailSql"/>
    </select>

    <select id="findById" parameterType="int" resultType="PolicyEnter">
        SELECT
        p.id,
        p.publisher,
        p.name,
        p.document_type,
        p.document_area,
        p.document_id,
        p.publish_type,
        p.organ,
        p.pass_date,
        p.publish_date,
        p.exe_date,
        p.document_target,
        p.theme_words,
        p.key_words,
        p.up_document,
        p.pre_document,
        p.post_document,
        p.document_state,
        p.sur_field,
        p.text,
        p.index_state
        FROM
        policy_enter p
        WHERE p.id = #{policyId}
    </select>
</mapper>
